body {
    background-color:dimgray;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #b22;
    font-size: 18px;
    line-height: 1.5;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color:antiquewhite;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-link:hover {
    background-color: #b22222;
}